body{
    font: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 100%;
}

.banner{
    background-image: url("../images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    opacity: 0.75;
    position: relative;
}

.banner-text{
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-family: sans-serif;
    color: #ffffff;
    position: center;
}

.infographic{
    height: 100%;
    width: 100%;
    left: 75px;
}

